.path1 {
  fill: none;
}
.legend {
  font-size: 12px;
}
rect {
  stroke-width: 2;
}

.main-div {
  text-align: center;
}

.line-chart {
  margin: 70px 50px;
  width: 90%;
  height: 500px;
}

#svg {
  height: 100%;
  width: 100%;
}

.select-div {
  margin: 10px;
}

.svg-label {
  display: block;
  margin: 50px;
  font-size: 20px;
}
.pie-chart-div {
  display: none;
}
